%h2
  =@subgroup.name

%h3 Assignments
%p
  =link_to "New assignment", new_subgroup_assignment_path(@subgroup)
%p 
  - @subgroup.assignments.each do |t|
    %p
      = t.name
      = link_to 'Edit', edit_subgroup_assignment_path(@subgroup, t), class: 'button tiny'
      = if t.published != true
        = link_to 'Publish', subgroup_update_published_path(@subgroup, t), method: :put, class: 'button tiny'
      - else
        = link_to 'Unpublish', subgroup_update_published_path(@subgroup, t), method: :put, class: 'button tiny' 
%p
  = link_to 'Back', course_path(@subgroup.course), class: 'button tiny secondary'

%h3 Published assignments
%p
  - @subgroup.assignments.where(published: true).each do |t|
    %p
      = t.name
      = t.publish_date.strftime("%Y-%d-%m %H:%M %Z")

    